<div class="container">
<img src="{{filmData.Poster}}" alt=" Poster">
<div class="text">
    <div class="main-info">
        <h2> Main-info</h2>
        <li>Title: "{{filmData.Title}}"</li>
        <li>Date of Release :{{filmData.Released}}</li>
        <li>Runtime : {{filmData.Runtime}}</li>
    </div>
    <div class="additional-info">
        <h2> Additional-info</h2>
        <li> Writer: {{filmData.Writer}}</li>
        <li>Genre: {{filmData.Genre}}</li>
        <li> Actors: {{filmData.Actors}}</li>
        <li>Language: {{filmData.Language}}</li>
        <li>Country: {{filmData.Country}}</li>
        <li>Awards: {{filmData.Awards}}</li>
        <li> Rating: {{filmData.imdbRating}}</li>
    </div>
    <div class="description">
        <h2> Description</h2>
        <li>Short plot: {{filmData.Plot}}</li>
    </div>

</div>

</div>
